.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 47px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px;
  }

  .cart-items::-webkit-scrollbar {
    width: 8px;  /* Set the width of the scrollbar */
  }

  .cart-items::-webkit-scrollbar-thumb {
    background-color: darkgrey; /* Set the color of the scrollbar thumb */
    border-radius: 10px;        /* Round the corners of the scrollbar thumb */
  }

  .cart-items::-webkit-scrollbar-track {
    background: #f1f1f1; /* Set the background of the scrollbar track */
  }

  button {
    margin-top: auto;
  }
}
